services:
  backend-api:
    build: ./backend-api
    image: backend-api
    container_name: backend_api
    ports:
      - "8081:8081"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - DB_URL=jdbc:postgresql://database:5432
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_DATABASE=${DB_DATABASE}
      - AI_SECRET_KEY=${AI_SECRET_KEY}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - REDIS_HOST=cache
      - REDIS_PORT=6379
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - AI_SERVICE_URL=http://ai:8082
      - MAP_SERVICE_URL=http://map:8083
    depends_on:
      database:
        condition: service_healthy
      cache:
        condition: service_healthy

  ai:
    build: ./python/AI
    image: ai
    container_name: ai
    ports:
      - "8082:8082"
    environment:
      - AI_SECRET_KEY=${AI_SECRET_KEY}
      - HF_MODEL=./Qwen2.5-1.5B-Instruct
      - DEVICE=auto
      - MAX_CONTEXT_TOKENS=3000    
    command: "python -m uvicorn ai:app --host 0.0.0.0 --port 8082"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8082/api/health"]
      interval: 1m
      timeout: 30s
      retries: 3

  map:
    build: ./python/Map
    image: map
    container_name: map
    ports:
      - "8083:8083"
    environment:
      - YANDEX_MAPS_API_KEY=${YANDEX_MAPS_API_KEY}
    command: "python -m uvicorn requests:app --host 0.0.0.0 --port 8083"
  
  frontend:
    build: ./Frontend
    image: frontend
    container_name: frontend 
    ports:
      - "8080:8080"
    command: "npm run preview"
    depends_on:
      - backend-api
    
  database:
    image: postgres:17-alpine
    container_name: database
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DB_USERNAME}"]
      interval: 10s 
      timeout: 5s
      retries: 3

  cache:
    image: redis:8.2-alpine
    container_name: redis
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    command: redis-server --save 20 1 --requirepass $REDIS_PASSWORD
    volumes:
      - cache:/data
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s 
      timeout: 5s
      retries: 3
    
volumes:
  pgdata:
  cache: